.hello {
  height: 80px;
  width: 80px;
  padding: 120px 80px;
  background-color: greenyellow;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /*animation: move 1s linear infinite;
  animation: spin 1s linear infinite;
  animation: fade 1s linear infinite;*/
  animation: pulse 0.6s infinite alternate;
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: yellow;
}
.hello:hover {
  background-color: tomato;
  width: 300px;
  height: 300px;
  cursor: crosshair;
  transform: scale(1.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  transform: rotate(360deg);
  border-radius: 100vh;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes move {
  from {
    transform: translatex(0);
  }
  to {
    transform: translatex(100px);
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
