.body {
  background-color: yellow;
  align-items: center;
  display: flex;
  height: 100vh;
}

.box {
  background-color: yellow;

  height: 100vh;
  width: 100%;
  height: 150px;
  padding: 120px 80px;
  align-content: center;
  justify-content: center;
  align-items: center;
  animation: move 2s linear infinite;
}
.rect {
  background-color: tomato;
  height: 70px;
  width: 550px;
}
.w {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}
.wheel {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  animation: spin 1s infinite;
}
@keyframes move {
  from {
    transform: translatex(-100%);
  }
  to {
    transform: translatex(200%);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
